.card{
    scale: 90%;
    background-image: radial-gradient(circle, #208d45, #3f9947, #58a549, #70b04c, #87bc4f, #8cbf50, #90c150, #95c451, #87be4f, #79b94d, #6bb34b, #5cad4a);    border: 3px;
    border-style: solid;
    border-color: linear-gradient(to left, #aee6e3, #9dc7b6, #90a78d, #84886b, #756951);
    border-radius: 2em;
    justify-content: space-between;
    box-shadow: 7px 5px 25px;
}

.card:hover{
    background-image: radial-gradient(circle, #5cad4a, #6bb34b, #79b94d, #87be4f, #95c451, #90c150, #8cbf50, #87bc4f, #70b04c, #58a549, #3f9947, #208d45);}

.nombre button{
    text-decoration: none;
    background-color:#1ad8cf;
    align-self: center;
    border: 0px 0px 10px solid black;
    color: #BBE0F2;
    align-items: center;
    
}

.botonBorrar button{
    text-decoration: none;
    background-color: black;
    color: #1ad8cf;
}