.App {
   text-align: center;
}

.Cards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 5em;
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 10px;
   background-color: rgba(75, 90, 254, 0.923);
}