body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Created with https://www.css-gradient.com */
background: #C7BB3D;
background: -webkit-linear-gradient(bottom, #C7BB3D, #3DB494);
background: -moz-linear-gradient(bottom, #C7BB3D, #3DB494);
background: linear-gradient(to top, #C7BB3D, #3DB494);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
